<div class="container">
  <div class="content">
    <div class="filters-wrapper">
      <app-filters (filtersChanged)="onFiltersChanged($event)"></app-filters>
    </div>

    <div *ngIf="loading" class="loading-indicator">
      Ładowanie danych...
    </div>

    <div class="table-wrapper">
      <app-table-container [data]="tableData"></app-table-container>

      <div *ngIf="loading && !allDataLoaded" class="loading-more">
        Ładowanie kolejnych danych...
      </div>
      <div *ngIf="allDataLoaded" class="all-data-loaded">
        Wszystkie dane zostały załadowane.
      </div>
    </div>
  </div>
</div>
