header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #252525;
  border-radius: 10px;
  margin: 0 5%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

header .logo,
header .cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

header .logo:hover,
header .cart:hover {
  background-color: #cb8347;
  transform: scale(1.1);
}

header .shop-name {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

header .shop-name:hover {
  color: #cb8347;
  transition: color 0.3s;
}

header .material-icons {
  font-size: 24px;
  transition: transform 0.3s;
}

header .material-icons:hover {
  transform: rotate(20deg);
}

header .cart {
  position: relative;
}

header .cart .cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
