<div class="table-container">
  <table>
    <thead>
    <tr>
      <th (click)="sortData('exchangeRateDateForBuyAndSell')">
        Data
        <span class="sort-arrow" [class.active]="sortState.column === 'exchangeRateDateForBuyAndSell'">
            {{ sortState.column === 'exchangeRateDateForBuyAndSell' && sortState.direction === 'ASC' ? '▲' : '▼' }}
          </span>
      </th>
      <th>Waluta</th>
      <th (click)="sortData('buy')">
        Kupno
        <span class="sort-arrow" [class.active]="sortState.column === 'buy'">
            {{ sortState.column === 'buy' && sortState.direction === 'ASC' ? '▲' : '▼' }}
          </span>
      </th>
      <th (click)="sortData('sell')">
        Sprzedaż
        <span class="sort-arrow" [class.active]="sortState.column === 'sell'">
            {{ sortState.column === 'sell' && sortState.direction === 'ASC' ? '▲' : '▼' }}
          </span>
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="data.length > 0">
      <tr *ngFor="let row of data">
        <td>{{ row.exchangeRateDateForBuyAndSell }}</td>
        <td>{{ row.currency }}</td>
        <td>{{ row.buy | number : '1.4-4' }}</td>
        <td>{{ row.sell | number : '1.4-4' }}</td>
      </tr>
    </ng-container>

    <tr *ngIf="data.length === 0">
      <td colspan="4" class="empty-row">Brak danych do wyświetlenia</td>
    </tr>
    </tbody>
  </table>
</div>
